.container
  =image_tag 'railslink-icon.png', size: '100x100'
  %h1
    Ruby on Rails Link
  %p
    Global community of Ruby on Rails developers on Slack.
  =link_to 'Join Now', 'https://rubyonrails.typeform.com/to/g9CVKl', id: 'join-now', class: 'btn btn-danger btn-lg'
