
$primary: #dd2c33;
$family-sans-serif: 'Cabin', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$notification-padding: 0.75rem 2.5rem 0.75rem 1.5rem;

@import url("//fonts.googleapis.com/css?family=Cabin");
@import "bulma";
@import "bulma-overrides";

body.c-home {
  hr { margin: 0 15%; }
}

body.c-membership_submissions {
  #new_slack_membership_submission {
    .field.fax {
      display: none;
    }
  }
}

body > nav {
  .navbar-brand {
    > .navbar-item > img#logo {
      height: $navbar-height;
      display: inline-block;
      padding: 0 0.5em;

      &.spin {
        animation: spin 2s linear infinite;

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
      }
    }
  }

  &.navbar.is-light {
    a.navbar-burger {
      color: $grey-dark;
      &:hover { color: $primary; }
    }

    a.navbar-item {
      &:hover { color: $primary; }
    }
  }
}

.admin-members {
  header {
    margin: 1rem 0;
  }

  img {
    filter: grayscale(1);
    transition-duration: 0.4s;
  }

  .is-equal-height {
    @media screen and (min-width: 769px) {
      display: flex;

      .card {
        width: 100%;
      }
    }
  }

  .card:hover img {
    filter: none;
    transform: scale(1.02);
  }

  .card-image {
    padding: 1rem 0;
  }

  .title {
    margin: 0;
  }
}

footer {
  border-top: 1px solid $grey-lighter;
  margin-top: 1rem;
  padding-top: 1rem;
  color: $grey;
  a { color: lighten($primary, 20%); }
  .copyright { font-size: $size-7; }
}
