// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

/* stylelint-disable max-line-length */
$family-sans-serif: '"Cabin", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
/* stylelint-enable */

@use "bulma/sass" with (
  $family-primary: $family-sans-serif,
  $primary: #dd2c33,
  $notification-padding: 0.75rem 2.5rem 0.75rem 1.5rem
);
/* stylelint-disable import-notation */
@import url("//fonts.googleapis.com/css?family=Cabin");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/all.min.css");
/* stylelint-enable */

.input[disabled],
.textarea[disabled] {
  -webkit-text-fill-color: #7a7a7a;
}

body.c-home {
  hr {
    margin: 0 15%;
  }
}

body.c-membership-submissions {
  #new-slack-membership-submission {
    .field.fax {
      display: none;
    }
  }
}

body > nav {
  .navbar-brand {
    > .navbar-item > img#logo {
      height: var(--bulma-navbar-height);
      display: inline-block;
      padding: 0 0.5em;

      &.spin {
        animation: spin 2s linear infinite;

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  &.navbar.is-light {
    a.navbar-burger {
      color: var(--bulma-grey-dark);

      &:hover {
        color: var(--bulma-primary);
      }
    }

    a.navbar-item {
      &:hover {
        color: var(--bulma-primary);
      }
    }
  }
}

.admin-members {
  header {
    margin: 1rem 0;
  }

  img {
    filter: grayscale(1);
    transition-duration: 0.4s;
  }

  .is-equal-height {
    @media screen and (min-width: 769px) {
      display: flex;

      .card {
        width: 100%;
      }
    }
  }

  .card:hover img {
    filter: none;
    transform: scale(1.02);
  }

  .card-image {
    padding: 1rem 0;
  }

  .title {
    margin: 0;
  }
}

footer {
  border-top: 1px solid var(--bulma-grey-lighter);
  margin-top: 1rem;
  padding-top: 1rem;
  color: var(--bulma-grey);
  /* stylelint-disable scss/no-global-function-names */
  a {
    color: var(--bulma-primary-70);
  }
  /* stylelint-enable */
  .copyright {
    font-size: var(--bulma-size-7);
  }
}
