@import variables

#home
	padding: 48px 12px
	text-align: center
	#join-now
		margin: 72px 0 36px
	footer
		padding: 48px 12px
		.copyright
			color: #888
			font-size: 12px
		.links
			margin: 16px
			i
				color: #888
				font-size: 36px
				margin: 12px
